swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img{
    border-radius: 15px;
    margin: 12px 10px;
    width: 96%;
  }
}

.orderDivs{
  display: flex;
  justify-content: space-between;
  align-items: center;             
}


