// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #e72929;
    --ion-color-primary-rgb: 231, 41, 41;
  
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
  
    --ion-color-primary-shade: #cc2424;
    --ion-color-primary-tint: #ec4c4c;
  }