<div class="container">
  <!-- <button class="find-location" (click)="findMyLocation()">
    Find My Location
  </button> -->
  <div #map class="map">
    <google-map
      height="500px"
      width="100%"
      [center]="center"
      [zoom]="zoom"
      (mapClick)="onMapClick($event)"
    >
      <map-marker
        *ngIf="markerPosition"
        [position]="markerPosition"
        [title]="'Lat: ' + markerPosition.lat + ', Lng: ' + markerPosition.lng"
      ></map-marker>
    </google-map>
  </div>
</div>
